@page "/test"
@model PRN221_PROJECT_FoodOrder.Pages.TestUploadFileModel
@{
}
<section class="gap">
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="imageFile" />
        <button type="submit">Upload Image</button>
    </form>
</section>
